.card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: clamp(200px, 300px, 400px);
  gap: clamp(15px, 10px, 5px);
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-thin);
}

.textBox {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  h5 {
    color: var(--text-grey);
  }
}

.image {
  max-width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-tracks: center;
  h6 {
    color: var(--text-grey);
  }
}
