.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.container::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 100%;
    position: absolute;
    transform: translateX(0px);
    top: 6px;
    z-index: -5;
    opacity: 0;
    transition: var(--transition);
}

.active.container::after {
    opacity: 1;
    transform: translateX(-30px);
}
