.nav {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    // padding: 0 1rem;
    align-items: center;

    @media screen and (max-width: 500px) {
      transform: translateX(-130%);
      position: fixed;
      z-index: 100;
    }
}

.nav.navOpen {
  transform: translateX(0);
}

.navItems {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.logoItem {
    aspect-ratio: 1;
    width: 1.5rem;
    height: 2.5rem;
}

.logoContainer {
    display: flex;
}
