.nav {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    // padding: 0 1rem;
    align-items: center;
}

.navItems {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.logoItem {
    aspect-ratio: 1;
    width: 1.5rem;
    height: 2.5rem;
}

.logoContainer {
    display: flex;
}